{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow p-4">
      <h2 class="mb-4 text-center">Operator Login</h2>
      <form method="post">
        {{ form.hidden_tag() }}   {# This renders CSRF token #}

        <div class="mb-3">
          {{ form.username.label(class="form-label") }}
          {{ form.username(class="form-control form-control-lg") }}
        </div>
        <div class="mb-3">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control form-control-lg") }}
        </div>
        <button type="submit" class="btn btn-primary btn-lg w-100">{{ form.submit.label.text }}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
